@media (max-width:768px){
    header{
        .encabezado{
            .logo{
                margin-left: 10px;
                margin-top: 5px;
                font-size: 50px;
            }
            .boton-busqueda{
                width: 300px;
                input{
                    width: 90%;
                    border-radius: 10px;
                    padding-right: 0;
                    padding-left: 0;
                    font-weight: 200px;
                }
            }
        }
    }
    .pagina-principal{
        height: 1100px;
        .nov-principal{
            height: 400px;
            margin: 5px;
            h2{
                font-size: 25px;
                padding-left: 10px;
                width: 170px;
            }
            a{
                height: 250px;
            }           
        }
        .ranking{
            height: auto;
            h2{
                font-size: 23px;
                padding-left: 10px;
                width: 130px; 
            }
            .puestos{
                column-gap: 5px;
                row-gap: 20px;
                div{
                    width: 220px;
                    height: 350px;
                    margin: 0px 10px;
                    h3{
                        background-color: map-get($color , color6 );
                        width: 150px;
                        position: absolute;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    .catalogo-principal{
        column-gap: 5px;
        row-gap: .3125rem;
        div img{
            margin: 5px 0 0 10px;
            width: 80%;
            height: 80%;
            
        }
        div h2{
            font-size: 15px;
        }
    }
    .informacion{
        .caracteristica{
            img{
                width: 50%;
                height: 100%;
                margin: 5px 5px 0 10px;
            }
            .text-info{
                margin: 5px;
                font-size: 17px;
            }
        }
    }
    .noticia{
        height: 1000px;
        section{
            height: 500px;
            div{
                h2{margin: 1px;
                    height: 30px;
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .votacion{
        .contein-vota{
            .descripcion{
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 13px;
                }
            }
            button{
                height: 65px;
                font-size: 18px;
                text-align: center;
            }
        }
    }
    footer{
        .pie-pagina{
            /*width: 98%;*/
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: .3125rem;
            .redes{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1.25rem;
            }
        }
    }
}