@media (max-width:425px){
    header{
        width: 100%;
        padding: 5px 10px;
        .encabezado{
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo{
                height: 30px;
                font-size: 30px;
                margin-bottom: 5px;
            }
            .boton-busqueda{
                width: 100%;
                height: 30px;
                input{
                    border-radius: 10px;
                    padding-right: 0;
                    padding-left: 0;
                    font-weight: 6.25rem;
                }
            } 
        }
        
    }
    .pagina-principal{
        height: auto;
        .nov-principal{
            height: 250px;
            h2{
                width: 140px;
                font-size: 20px;
            }
            a{
                height: 200px;
            }
        }
        .ranking{
            width: 95%;
            height: auto;
            margin: 10px;
            display: flex;
            flex-direction: column;
            h2{
                width: 110px;
                font-size: 20px;
            }
            .puestos{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: .9375rem;
                div{
                    width: 250px;
                    height: 320px;
                    margin: 0px 5px;
                    h3{
                        background-color: map-get($color , color6 );
                        width: 100px;
                        height: 25px;
                        font-size: 20px;
                        position: absolute;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    .catalogo-principal{
        width: 98%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "boku chaisaw" 
        "dbs jujutsu" 
        "kimetsu pokemon" 
        "sao tokyo";
        column-gap: 10px;
        row-gap: .625rem;
        div h2{
            font-size: medium;
        }
    }
    .informacion{
        width: 100%;
        height: 750px;
        margin: 0px;
        h2{
            height: 15px;
        }
        .caracteristica{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 2px;
            .text-info{
                font-size: 14.5px;
            }
        }
    }
    .noticia{
        height: 1200px;
        section{
            flex-direction: column;
            height: 650px;
            div{
                width: 100%;
                height: 350px;
            }
            div{
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .votacion{
        .contein-vota{
            flex-direction: column;
            img{
                margin-left: 5px;
                width: 50%;
                height: 50%;
                margin-left: none;
            }
            .descripcion{
                width: 98%;
                h2{
                    font-size: 15px;
                }
                p{
                    font-size: 10px;
                }
            }
            button{
                width: 100px;
                height: 70px;
                margin: 10px 0px;
                border-radius: 5px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
    footer{
        height: 100px;
        margin-bottom: 0;
        .pie-pagina{
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: .3125rem;
            h4{
                font-size: medium;
            }
            h5{
                font-size: small;
            }
            .redes{
                column-gap: 5px;
            }
        }
    }
}