@import "../utilities/maps";
@import "../utilities/mixins";

header{
    background-color: map-get($color , color2 );/*celeste oscuro*/
    width: 100%;
    padding: 1rem 1.5rem;
    .encabezado{
        @include flex;
        @include tipografia;
        .logo{
            color: map-get($color , color1 );
            text-shadow: 2px 3px 5px gray;
            font-size: xx-large;
            h1{
                @include tipografia;
            }
        }
        .boton-busqueda{
            width: 300px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include border;
            input{
                width: 250px;
                border-radius: 5px;                
                @include tipografia;
                font-weight: 25rem;
                padding-left: 20px;
            }
            button{
                width: 50px;
                border-radius: 5px;
                background-color: map-get($color , color6 );
            }
        }
    }
    div nav{
        padding: 16px 24px;
        @include tipografia;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        .menu{
            width: 100%;
            height: 0;
            overflow: hidden;
            .menu-ul{
                height: 85px;              
                list-style: none;
                flex-direction: row;
                align-items: center;
                padding: 0.5rem 0;
                li a{
                    text-decoration: none;
                    color: rgb(1, 1, 1);                    
                }
                li a:hover{
                    color: map-get($color , color6 );
                }
            } 
        }
        #toggle, nav label{
            display: none;            
        }
        label{
            display: inline-flex;
            color: black;            
        }
        #toggle:checked ~ .menu{
            height: 100%;
        }
        
    }
}
