@import "../utilities/maps";
@import "../utilities/mixins";

.votacion{
    width: 100%;
    height: auto;
    .contein-vota{
        margin: 10px 0px;
        @include flex;
        gap: .3125rem;
        overflow: hidden;
        img{
            width: 18%;
            height: 18%;
            margin-left: 10px;
            object-fit: cover;
        }
        .descripcion {
            width: 74%;
            height: auto;
            padding: 10px;
            @include border;
            h2{
                width: 100%;
                color: map-get($color , color3 );/*celeste claro*/
                text-shadow: 2px 3px 5px map-get($color , color5 );
                @include tipografia;
                font-size: x-large;
                text-align: center;
            }
            p{
                width: 98%;
                margin: 5px;
                color: map-get($color , color5);/*celeste claro*/
                @include tipografia;
                font-size: medium;
                text-align: start;
            }
        }
        button{
            border: none;
            background-color: yellow;
            color: black;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding: 2px;
            margin: 5px;
            @include tipografia;
            font-size: larger;
        }
        button:hover{
            background-color: black;
            color: yellow;
        }
    }
}
