@import "../utilities/maps";
@import "../utilities/mixins";

.informacion{
    height: 550px;
    @include flex;
    flex-direction: column;
    h2{
        height: 50px;
        color: map-get($color , color3 );/*celeste claro*/
        @include tipografia;
        text-align: center;
    }
    .caracteristica{
        height: auto;
        margin: 10px;
        @include flex;
        overflow: hidden;
        img{
            width: 50%;
            height: 100%;
            margin: 10px;
            object-fit: cover;
        }
        .text-info{
            background-color: rgba(2, 2, 2, 0.514);
            border-radius: 10px;
            color: map-get($color , color4 );/*celeste claro*/
            @include tipografia;
            font-size: 25px;
            text-align: start;
            margin: 10px;
            padding: 10px;
        }
    }
}